<!DOCTYPE html>
<html>

  {% include 2019_data/head.html %}


    <body id="page-top" class="index">

    {% include 2019_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Lightning Hackday<br></div>
                <div class="intro-lead-in">March 30 & 31, 2019</div>
                <div class="intro-lead-in">Bitwork, Kowloon Bay, Hong Kong</div>
                <a href="#intro" class="page-scroll btn btn-xl">Ignite Me</a>
            </div>
        </div>
    </header>

    {% include 2019_data/intro.html %}
    {% include 2019_data/speakers.html %}
    {% include 2019_data/about.html %}
    {% include 2019_data/sponsors.html %}
    {% include 2019_data/contact.html %}
    {% include 2019_data/footer.html %}
    {% include 2019_data/js.html %}

    </body>
</html>
